# Środowiska URL / URL Environments
BASE_URL=https://twoja-strona.pl
QA_URL=https://qa-twoja-strona.pl
DEV_URL=https://dev-twoja-strona.pl
PROD_URL=https://prod-twoja-strona.pl

# Dane logowania / Login credentials
USER_NAME=twoj-login
PASSWORD=twoje-haslo

# Dane do testów z użyciem maili / Data for tests using emails
MAIL_API_KEY=twoj_klucz_api
MAIL_SERVER_ID=id_serwera_testowego

# Dane do testów z użyciem bazy danych / Data for tests using database
DB_USERNAME=twoj_uzytkownik_bazy
DB_PASSWORD=twoje_haslo_bazy
DB_SERVER_NAME=twoj_serwer_bazy
DB_PORT=twoj_port_bazy
DB_NAME=twoja_nazwa_bazy

# Inne ustawienia / Other settings
WAIT_FOR_ELEMENT=10000
